footer {
    background-color: #001931;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

footer .footer-copyright {
    /* display: flex;
    margin: 0 auto; */
    font-size: 16px;
    color: white;
    line-height: 24px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    width: 1360px;
    padding: 120px 120px 50px 120px;
    /* border: 2px solid red; */
    margin: 0 auto;
}

.social-footer {
    /* border: 2px solid yellow; */
    text-align: center;
    color: #FFFFFF;
    /* display: flex; */
}

.social-footer ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;

}

.social-footer ul li a {
    text-decoration: none;
    color: #FFFFFF;
}

li {
    /* border: 2px solid white; */
    display: flex;
    gap: 3px;

}

footer img {
    width: 127.25px;
    height: 56px;
}

li:hover {
    background-color: lightgreen;
}